
@{
    ViewBag.Title = "AccessDenied";
}

<h2>Pääsy estetty</h2>

.<h4>Sinulla ei ole tarvittavia oikeuksia toimenpiteen suorittamiseksi!</h4>

<button class="btn btn-warning" onclick="history.back()">Takaisin</button>

